body{
    background-color: #f5efd8;
}
.label{
    color: #014241;
    border: 2px solid;
    text-align: center;
    margin: 2% 20%;
    background-color:#dfdcd1

}
.heading{
font-size: 50px;
}
.btn {
  background-color: #014241;
  padding: 10px 20px;
  border-radius: 8px;       
  color: #f5efd8;
  border: none;
  cursor: pointer;
  display: inline-block;     
  margin: 2px;
}